build
distributions
*~

.DS_Store
*.swp
*~.nib

# Don't store the temporary database
gardenList.sqlite3

# nor the packed json file
*.json.gz

# Don't store the most volatile XCode files as they make merging difficult
*.pbxuser
*.perspective
*.perspectivev3

# Don't store the cruft left by the Python IDE either
app

# Nor the stuff left by IDEA
.idea
*.iml



