build
*~

.DS_Store
*.swp
*~.nib

# Don't store the temporary database
gardenList.sqlite3

# Don't store the most volatile XCode files as they make merging difficult
*.pbxuser
*.perspective
*.perspectivev3

# Don't store the cruft left by the Python IDE either
app



